{{ template "header.html" .Nav }}
{{ with .Data }}
  {{ if .ChassisEnable }}
    {{ if .Chassis45drives15 }}
      <h3 align="center">45Drives AV15</h3>
    {{ end }}
    {{ if .Chassis45drives30 }}
      <h3 align="center">45Drives Q30</h3>
    {{ end }}
    {{ if .Chassis45drives45l }}
      <h3 align="center">45Drives S45 lite</h3>
    {{ end }}
    {{ if .Chassis45drives45 }}
      <h3 align="center">45Drives S45</h3>
      <table class="table table-zfswatcher-dashboard table-hover">
        <thead>
          <tr>
            <th style="width: 5%"></th>
            <th style="width: 5%"></th>
            <th style="width: 5%"></th>
            <th style="width: 5%"></th>
            <th style="width: 5%"></th>
            <th style="width: 5%"></th>
            <th style="width: 5%"></th>
            <th style="width: 5%"></th>
            <th style="width: 5%"></th>
            <th style="width: 5%"></th>
            <th style="width: 5%"></th>
            <th style="width: 5%"></th>
            <th style="width: 5%"></th>
            <th style="width: 5%"></th>
            <th style="width: 5%"></th>
          </tr>
        </thead>
        <tbody>
          {{ range .Drives }}
            <td>{{ .Name }}<br/>{{ .State }}</td>
          {{ end }}
        </tbody>
      </table>
      {{ else }}
        <div class="alert alert-error">
          Enclosure detection has not been enabled in config
        </div>
      {{ end }}
    {{ end }}
    {{ if .Chassis45drives60 }}
      <h3 align="center">45Drives XL60</h3>
    {{ end }}

{{ end }}
{{ template "footer.html" .Nav }}
