
.table-zfswatcher-dashboard th,
.table-zfswatcher-dashboard td {
  vertical-align:middle;
}

.progress-zfswatcher-dashboard {
  margin-bottom: 0px;
  min-width: 50px;
}

.isONLINE {
  background-color: #148614;
  color: #d1d1d1;
}

.isOFFLINE {
  background-color: #2d2a2a;
  color: #d1d1d1;
}

.isREMOVED {
  background-color: #e69d17;
  color: #d1d1d1;
}

.isFAULTED {
  background-color: #e73737;
  color: #d1d1d1;
}

.isSPLIT {
  background-color: #e69d17;
  color: #d1d1d1;
}

.isUNAVAIL {
  background-color: #2d2a2a;
  color: #d1d1d1;
}

.isDEGRADED {
  background-color: #e69d17;
  color: #d1d1d1;
}

.isUNKNOWN {
  background-color: #656161;
  color: #d1d1d1;
}

.isINUSE {
  background-color: #e69d17;
  color: #d1d1d1;
}

.isAVAIL {
  background-color: #1c691c;
  color: #d1d1d1;
}
